.subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;

  a {
    color: #000;
    text-decoration: none;

    &:visited {
      color: #000;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .subtitle {
    a {
      color: #fff;

      &:visited {
        color: #fff;
      }
    }
  }
}
