.title {
  font-weight: 300;
  font-size: 20px;
  word-spacing: 5px;
  padding-bottom: 15px;
  text-align: center;
}

.copyright {
  font-size: 1.8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.copyright img {
  margin-left: 0.5rem;
}

.logo {
  height: 4em;
}
