.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 12px 0;
}

.g-header {
  display: flex;
  justify-content: space-around;
  min-width: 1000px;
}

.header-left {
  //
}

.header-right {
  text-align: right;
  display: block;
}

.g-grid {
  display: flex;
  padding: 0;
  margin: 0;
}

.grid {
  width: 50%;
  min-width: 500px;
  color: #4d4d4d;
  background-color: #fefefe;
  margin: 4px;
}

.grid_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.info {
  position: relative;
  width: 450px;
  height: 300px;
}

.chart {
  width: 50%;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  width: 60px;
  height: 300px;
}

@media (max-width: 600px) {
  .header {
    padding: 0;
  }

  .g-grid {
    width: 100%;
    flex-direction: column;
  }

  .grid {
    width: 100%;
  }

  .grid_list {
    width: 100%;
  }

  .chart {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .grid {
    color: #f8f9fa;
    background-color: #4d4d4d;
  }
}
