@import 'node_modules/@nekohack/normalize.css/dist/index.css';

@import '_alert.scss';
@import '_anchor.scss';
@import '_footer.scss';
@import '_layout.scss';
@import '_tag.scss';

body {
  color: #4d4d4d;
  background-color: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #f8f9fa;
    background-color: #303030;
  }
}
